
processor.enable=true
#全局启用apt开关	true/false	true
#processor.stopBubblingtrue=false
#是否停止向上级合并配	true/false	false
#processor.genPath=target/generated-sources/annotations
#APT 代码生成路径	合法的绝对或相对路径	target/generated-sources/annotations
#processor.charset=UTF-8
#APT 代码生成文件字符集	合法的字符集	UTF-8
#processor.allInTables.enable=false
#是否所有的类都生成在 Tables 类里	true/false	false
#processor.allInTables.package=${entityPackage}.table
#Tables 包名	合法的包名	${entityPackage}.table
#processor.allInTables.className=Tables
#Tables 类名	合法的类名	Tables
#processor.mapper.generateEnable=false
#开启 Mapper 自动生成	true/false	false
#processor.mapper.annotation=false
#开启 @Mapper 注解	true/false	false
#processor.mapper.baseClass	=com.mybatisflex.core.BaseMapper
#自定义 Mapper 的父类	全路径类名	com.mybatisflex.core.BaseMapper
#processor.mapper.package=${entityPackage}.mapper
#自定义 Mapper 生成的包名	合法的包名	${entityPackage}.mapper
#processor.tableDef.propertiesNameStyle
#生成辅助类的字段风格	upperCase, lowerCase
#upperCamelCase
#lowerCamelCase	upperCase
#processor.tableDef.instanceSuffix
#生成的表对应的变量后缀	string	空字符串
#processor.tableDef.classSuffix
#生成的 TableDef 类的后缀	string	TableDef
#processor.tableDef.ignoreEntitySuffixes
#过滤 Entity 后缀	string	-
