.rootTab {
    align-items: center;
    background: var(--semi-color-bg-0);
    flex-direction: column;
    height: 1042px;
    overflow: hidden;
    row-gap: 0;
    width: 1440px;
    display: flex;
    color: var(--semi-color-text-0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 28px;
    text-align: left;
  
    .nav {
      align-self: stretch;
      height: 60px;
  
      .navigationHeaderLogo {
        align-items: flex-start;
        column-gap: 0;
        display: inline-flex;
        flex-shrink: 0;
  
        .semiIconsSemiLogo {
          font-size: 36px;
          color: var(--semi-color-text-0);
        }
      }
  
      .dIV {
        align-items: center;
        column-gap: 16px;
        display: inline-flex;
        flex-shrink: 0;
  
        .semiIconsFeishuLogo,
        .semiIconsHelpCircle,
        .semiIconsBell {
          font-size: 20px;
          color: var(--semi-color-text-2);
        }
  
        .avatar {
          height: 32px;
          width: 32px;
        }
      }
    }
  
    .main {
      align-items: center;
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      padding: 30px 0px 10px;
      row-gap: 10px;
      align-self: stretch;
  
      .content {
        align-items: flex-start;
        column-gap: 40px;
        display: inline-flex;
        flex-shrink: 0;
  
        .tabs {
          width: 167px;
        }
  
        .frame1321317608 {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          row-gap: 24px;
          width: 1073px;
          flex-shrink: 0;
  
          .item {
            min-width: 90px;
            vertical-align: middle;
            flex-shrink: 0;
          }
  
          .frame1321317609 {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            row-gap: 0;
            align-self: stretch;
            color: var(--semi-color-disabled-text);
            font-size: 14px;
            letter-spacing: -0.14px;
            line-height: 20px;
  
            .frame1321317607 {
              align-items: center;
              background: var(--semi-color-fill-0);
              border-radius: 12px;
              display: flex;
              flex-direction: row;
              flex-shrink: 0;
              height: 20px;
              overflow: hidden;
              padding: 220px 475px 220px 476px;
              align-self: stretch;
  
              .yourContentHere {
                vertical-align: middle;
                min-width: 123px;
              }
            }
          }
        }
      }
    }
  }
  